{% load static %}
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container">

        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="{% url 'home' %}" class="d-block">
                <img src="{% static 'images/onlinecourselogo1.png' %}" alt="Image" class="img-fluid">
            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li class="active">
                    <a href="{% url 'home' %}" class="nav-link text-left">Home</a>
                    </li>
                    <li class="has-children">
                    <a href="about.html" class="nav-link text-left">About Us</a>
                      <ul class="dropdown">
                        <li><a href="teachers.html">Our Teachers</a></li>
                        <li><a href="about.html">Our School</a></li>
                      </ul>
                    </li>
                <li>
                  <a href="admissions.html" class="nav-link text-left">Admissions</a>
                </li>
                <li>
                  <a href="{% url 'courses' %}" class="nav-link text-left">Courses</a>
                </li>
                <li>
                    <a href="contact.html" class="nav-link text-left">Contact</a>
                  </li>
              </ul>                                                                                                                                                                                                                                                                                          </ul>
            </nav>

          </div>
        </div>
      </div>
      </div>
</header>


